<div class="col-xs-12 col-sm-10" [formGroup]="formGroup">
  <label [ngClass]="{'sr-only': srOnly}" [for]="fieldName" class="form-control-label">
    {{label}}
  </label>
  <div class="input-group">
    <div [id]="fieldName" [placement]="placement" [open]="open" [autoClose]="autoClose" ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary" [id]="fieldName" ngbDropdownToggle>{{selectedText}}</button>
      <div #dropdown ngbDropdownMenu>
        <button (click)="itemSelected(item)" class="dropdown-item" *ngFor="let item of selectItems">
          {{item.text}}
        </button>
      </div>
    </div>
  </div>
  <div *ngFor="let error of errors;" class="invalid-feedback">
    {{error}}
  </div>
</div>
