<div [ngClass]="{'has-error': errors.length > 0}" class="form-group" [formGroup]="formGroup">
  <label [ngClass]="{'sr-only': srOnly}" class="col-xs-12 col-sm-2 control-label">
    {{label}}
  </label>
  <div class="input-group col-xs-12 col-sm-10">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary" [id]="fieldName" ngbDropdownToggle>{{selectedText}}</button>
      <div #dropdown ngbDropdownMenu>
        <button (click)="itemSelected(item)" class="dropdown-item" *ngFor="let item of selectItems">
          {{item.text}}
        </button>
      </div>
    </div>
    <div *ngIf="errors.length > 0;" class="col-xs-12 col-sm-10 col-sm-offset-2 errors">
      <span *ngFor="let error of errors;" class="help-block">
        {{error.message}}
      </span>
    </div>
  </div>
</div>
