<div [ngClass]="{'has-error': errors.length > 0}" class="form-group" [formGroup]="formGroup">
  <label [ngClass]="{'sr-only': srOnly}" class="col-xs-12 col-sm-2 control-label">
    {{label}}
  </label>
  <div class="col-xs-12 col-sm-10">
    <ngb-timepicker
      [(ngModel)]="time"
      [formControlName]="fieldName"
      [hourStep]="hourStep"
      [secondStep]="secondStep"
      [meridian]="meridian"
      [minuteStep]="minuteStep"
      [readonlyInputs]="readonlyInputs"
      [size]="size"
      [spinners]="spinners"
      [seconds]="seconds">
    </ngb-timepicker>
    <div *ngIf="errors.length > 0;" class="col-xs-12 col-sm-10 col-sm-offset-2 errors">
      <span *ngFor="let error of errors;" class="help-block">
        {{error}}
      </span>
    </div>
  </div>
</div>
